<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지원서 작성</title>
</head>
<body>
    <h1>지원서 작성</h1>
    <form action="/register" method="POST">
        <div>
            <label for="username">이름:</label>
            <input type="text" name="username" id="username" placeholder="">
        </div>
        <div>
            <label for="stunumber">학번:</label>
            <input type="text" name="stunumber" id="stunumber" placeholder="(ex)60232014">
        </div>
        <div>
            <label for="phonenumber">전화번호:</label>
            <input type="text" name="phonenumber" id="phonenumber" placeholder="'-'제외(ex)01012341234">
        </div>
        <div>
            <label for="motivated">지원동기(간단한 소개):</label>
            <input type="text" name="motivated" id="motivated" placeholder="" style="width: 300px; height: 400px">
        </div>
        <button>지원하기!!!</button>    
    </form>
</body>
</html>